@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    --base-color: #F5C518;
    --base-bg-color: #121212;

    --error-color: #842029;
    --error-bg-color:#f8d7da;
    --error-b-clor:#f5c2c7;

    --success-color:#0f5132;
    --success-bg-color-:#d1e7dd;
    --success-b-color:#badbcc;
}

body{
    font-family: 'Roboto', 'sans-serif';
}

textarea{
    resize: none;
}

a {
    text-decoration: none;
}

#full-size{
    min-height: calc(100vh - 85px - 73px - 48px);
    background-color: var(--base-bg-color);
}

.label-theme{
    padding: 10px 0;
}

.input-theme{
    padding: 13px 0;

    font-size: 1em;
    text-indent: 20px;

    border: none;
    outline: none;
    border-radius: 6px;
}

.btn-theme{
    color: black;
    background-color: var(--base-color);

    font-size: 1em;
    margin-top: 1em;
    padding: 15px 0;
    border-radius: 6px;

    cursor: pointer;
}
.btn-theme:hover{
    color: var(--base-color);
    background-color: black;
    border: 1px solid var(--base-color);
    transition: .5s;
}

header{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 85px;
}

#img-logo{
    width: 50px;
    height: 50px;
    margin: 0 1em 0 1em;
}

header > a{
    color: white;
}

#h-title-page{
    font-size: 1.8em;
    font-weight: bold;
}
#h-title-page:hover, #h-login:hover{
    color: rgb(165, 164, 164);
    transition: .5s;
}

#header-search{
    display: flex;
    width: 60%;
    max-width: 600px;
}

#h-inp-t{
    font-size: .96em;
    padding: 5px;
    border-radius: 5px;
    text-indent: 12px;

    border: none;
    outline: none;

    width: 100%;
    max-width: 600px;
    height: 30px !important; 

    margin-left: 1em;
}

#h-search-icon{
    color: black;
    transform: translate(-40px,7px);
}

#h-login{
    margin-left: auto;
    margin-right: 1em;
}

#space-top{
    padding-top: 1.5em;
    background-color: var(--base-bg-color);
}
.message{
    margin: auto;
    width: 60vw;
    text-align: center;
    padding: 15px;

}
.success{
    color: var(--success-color);
    background-color: var(--success-bg-color-);
    border: 1px solid var(--success-b-color);
}
.error{
    color: var(--error-color);
    background-color: var(--error-bg-color);
    border: 1px solid var(--error-b-clor);
}

#h-links{
    display: flex;
    flex-direction: row;

    width: 30%;
    margin-left: auto;
}

nav > a{
    color: white;
    margin-left: auto;
    margin-right: 1em;
}

.logout{
    color: #fa6767;
    margin-right: 2em;
}

.mobile{
    display: none;
}

.log-mobile{
    display: none;
}

/*      AUTH - LOGIN/REGISTER       */
#auth-main{
    width: 70vw;
    margin: auto;
    padding-bottom: 3em;

    color: white;
}

.login > h2, .register >h2{
    text-align: center;
    font-weight: 500;
    font-size: 2em;
    padding-top: 2em;
}

.login > h2::after, .register >h2::after{
    content: '';
    width: 200px;

    border-bottom: 2px solid var(--base-color);

    display: block;
    margin: auto;
}

.login > form, .register > form{
    display: flex;
    flex-direction: column;

    width: 70%;
    margin: auto;
}


/*      EDIT-PROFILE        */
#edit-profile{
    width: 70vw;
    margin: auto;
    padding-top: 2em;
}

.all-user-info-editProfile{
    display: flex;
    flex-direction: row;
}


.user-info-editProfile, .user-info-editProfile > form,
.user-image-info, #change-password, #change-password >form{
    color: white;
}

.user-info-editProfile > h2,
.change-password > h2{
    font-size: 2em;
}

.user-info-editProfile > p,
.change-password > p{
    margin: .5em auto 1em auto;
}


.user-info-editProfile,
.user-info-editProfile > form{
    display: flex;
    flex-direction: column;

    width: 30vw;
    margin-right: 4em;
}

.user-image-info{
    display: flex;
    flex-direction: column;
}

#change-password{
    margin: auto;
    margin-top: 4em;
    width: fit-content;
}

#change-password > h2{
    font-size: 2em;
}
#change-password > p{
    margin: .5em 0 1em 0;
}

#change-password > form{
    display: flex;
    flex-direction: column;

    margin: auto;
    padding: 0 0 5em 0;
    width: 40vw;
}

#userImage-edit-profile{
    margin: 0 auto 2em auto;
    height: 130px;
    width: 130px;

    background-position: center;
    background-size: cover;

    border: 6px solid var(--base-color);
    border-radius: 50%;
}

#login-email{
    background-color: #aaa;
    color: black;
}

#picture{
    line-height: 10px;
    font-size: 1em;
}

#bio{
    width: 300px;
    height: 100px;

    font-size: 1.1em;
    font-family: 'Arial';
    line-height: 1.4em;
}


/*      NEW MOVIE       */
#new-movie-form{
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;

    color: white;
}

#new-movie-main{
    color: white;

    width: 50vw;
    margin: auto;
    padding-top: 2em;
}

#new-movie-main > h2,
#new-movie-main > p{
    text-align: center;
}

#title-new-movie{
    font-size: 2em;
}
#title-new-movie:after{
    content: '';

    display: block;
    width: 300px;
    margin: 5px auto .5em auto;

    border-bottom: 2px solid var(--base-color);
}

#category{
    text-indent: 0;
    padding-left: 1em;
}

#description{
    font-size: 1.1em;
    font-family: 'Arial';
    line-height: 1.3em;
    height: 100px;
}

#new-movie-main > p{
    color: lightgray;
}

.file{
    display: flex;
    flex-direction: row;

    align-items: center;
}
#file-name{
    margin-left: 1em;
    color: lightgray;
    display: none;
}

#banner{
    display: none;
}
#label-file{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #08779a;
    color: black;

    width: 100px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}
#label-file:hover{
    background-color: #399dbd;
    color: black;
    
    transition: .5s;
}


/*      FOOTER      */
footer{
    background-color: black;
    color: white;

    padding: 1em;
}

footer > a{
    color: white;
}

.footer-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50vw;
    margin: auto;
    padding-bottom: 1em;
}
.social-media-icon{
    width: 40px;
    height: 40px;
    color: white;
}
.social-media-icon:hover{
    color: lightgray;
    background-color: lightgray;
    box-shadow: 0 0 0 5px gray;
    border-radius: 50%;
}

.f-user{
    text-align: center;
    margin-top: 10px;
}
.f-user > a{
    color: white;
}
.f-user > a:hover{
    color: rgb(165, 164, 164);
    transition: .5s;
}


@media(max-width:1300px) and (min-width:1060px){
    #h-links{
        width: 50%;
    }
}

@media (max-width: 1060px){
    .desktop{
        display: none;
    }

    .mobile{
        display: inline-block;
    }

    #header-search{
        width: 100%;
    }

    #h-links{
        width: 40%;
    }

    #h-login{
        width: 50%;
        text-align: right;
    }
}

@media (max-width: 660px){
    .desktop{
        display: none;
    }
    .mobile{
        display: inline-block;
    }

    .log-desktop{
        display: none;
    }
    .log-mobile{
        display: inline-block;
    }
    #icon-login{
        color: #0ff70f;
        transform: translateY(4px);
    }

    #header-search{
        width: 100%;
    }

    #h-links{
        width: 40%;
    }

    #h-login{
        width: 10%;
        text-align: right;
    }
}

@media (max-width: 460px){
    .desktop{
        display: none;
    }
    .mobile{
        display: inline-block;
    }

    .log-desktop{
        display: none;
    }
    .log-mobile{
        display: inline-block;
    }
    #icon-login{
        color: #0ff70f;
        transform: translateY(4px);
    }

    #h-title-page{
        display: none;
    }

    #header-search{
        width: 100%;
    }

    #h-links{
        width: 40%;
    }

    #h-login{
        width: 10%;
        text-align: right;
    }
}

